Flask==2.0.1
Flask-SocketIO==5.1.0
Flask-Login==0.5.0
python-socketio==5.4.0
python-engineio==4.2.1
paramiko==2.8.1
requests==2.26.0
eventlet==0.30.2
Werkzeug==2.0.3
Jinja2==3.0.3
itsdangerous==2.0.1
